@use "../abstracts" as *;
h1 {
  font-size: 3rem;
  font-family: $title-font;
  color: $text-color;
}

h2 {
  font-size: 2.5rem;
  font-family: $dancing-font;
  color: $vibrant-color;
}

h3 {
  font-size: 2rem;
  font-family: $title-font;
  color: $text-color;
}

a {
  text-decoration: none;
}

p,
a {
  font-family: $primary-font;
  color: $text-color;
}
