@import url("https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
//COLORS
$primary-color: #272838;
$vibrant-color: #7e7f9a;
// or #EB9486 or #F3DE8A or #27A045 or #156E4F
$text-color: #f9f8f8;

//FONTS
$primary-font: "Open Sans", sans-serif;
$title-font: "Changa", sans-serif;
$dancing-font: "Dancing Script", cursive;
