@use "../abstracts" as *;
.input {
  width: 250px;
  padding: 6px;
  font-size: 1.1em;
  background-color: transparent;
  color: rgba($text-color, 0.75);
  border: 1px solid $vibrant-color;
  border-radius: 33px;
  outline: none;

  margin-bottom: 19px;
  &::placeholder {
    font-family: $primary-font;
    color: $vibrant-color;
    font-size: 0.9em;
  }
}
